@model Brightgrove.Models.Matches.MatchItem

<div class="match-item-card card border-success">
    <div class="card-body border-secondary">

        <h6 class="league-name">@Model.UtcDate.ToLocalTime().ToString("dd.MM | HH:mm")</h6>

        <div class="row">
            <div class="col-1"><img class="team-logo" alt="@Model.HomeTeam.Name" src="@Model.HomeTeam.Crest" /></div>
            <div class="col-9"> <h6 class="team-text">@Model.HomeTeam.Name</h6></div>

            @if (!string.IsNullOrEmpty(Model.Score.Winner))
            {
                <div class="col-2"><h6 class="team-text">@Model.Score.FullTime.Home</h6></div>
            }

        </div>

        <div class="row">
            <div class="col-1"><img class="team-logo" alt="@Model.AwayTeam.Name" src="@Model.AwayTeam.Crest" /></div>
            <div class="col-9"><h6 class="team-text">@Model.AwayTeam.Name</h6></div>
            
            @if(!string.IsNullOrEmpty(Model.Score.Winner))
            {
                <div class="col-2"><h6 class="team-text">@Model.Score.FullTime.Away</h6></div>
            }
            
        </div>

    </div>
</div>